/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
*/

.backgroundtable{
   width: 950px;
   box-shadow: 5px 5px 5px #222;
   border-radius: 25px;
   margin-top: 20px;
}

body{
    background-color: green;
     background-image: url("../img/background.png");
}

header{
    font-family: Castellar;
    text-align: center;
    font-size: 30px;
    
    text-shadow: 2px 2px 4px #000000;
    border-radius: 25px;
    
    



   
}

button{
    padding: 25px;
    background-color: #562D2E;
    color: white;
    margin: 2px;
    font-size: 20px;
    font-family: Castellar;
    margin-top: 5px;
    border-radius: 15px;
}

hogerlager{
    font-size: 20px;
    font-family: Castellar;
    padding: 25px;
    background-color: #562D2E;
    border-style: outset;
    border-width: 2px;
    color: white;
    border-radius: 40px;
    
    
    
}

h1{
    margin-top: -165px;
    position: relative;
    -webkit-animation:colorchange 20s infinite alternate;
}

 @-webkit-keyframes colorchange {
      0% {
        
        color: white;
      }
      
      10% {
        
        color: #D4AF37;
      }
      
      15% {
        
        color: white;
      }
      
      20% {
        
        color: #D4AF37;
      }
      
      25% {
        
        color: white;
      }
      
     30% {
        
        color: #D4AF37;
      }
      
      35% {
        
        color: white;
      }
      
      40% {
        
        color: #D4AF37;
      }
      45% {
     
        color: white;
      }
      
      50% {
     
        color: #D4AF37;
      }
      
      55% {
        
        color: white;
      }
        
        60% {
        
        color: #D4AF37;
      }
      
      65% {
        
        color: white;
      }
      
      70% {
        
        color: #D4AF37;
      }
      
      75% {
        
        color: white;
      }
      
     80% {
        
        color: #D4AF37;
      }
      
      85% {
        
        color: white;
      }
      
      90% {
        
        color: #D4AF37;
      }
      95% {
     
        color: white;
      }
      
      100% {
     
        color: #D4AF37;
      }
      
    }
    
    .banner{
        width: 1600px;
        heigth: 700px;
        postion:absolute;
    }